#hh{
text-align:lefft;
	
}
.class1M{

	text-align:;
}
.class1M{
     text-align:;
}
.class2M{
	
    text-align:;
}

.class3M{
	text-align:;
}	
	
.class4M{
	text-align:;

}

.class5{
    text-align:justify:
}
.h1{
	background-color:yellow;
	}
	
.teste{	
   text-align:center;
   color:red;
   font-family:castellar;
   text-decoration:underline;
}

img{
max-width: 240px
width: 195px;
height: 198px;
float:left;
margin:0 4px 0 2;
padding:25px;
}

.analise{	
	text-align:
}	

.note{
     text-align:center;
     background-color:black;
} 
#H3{	 
	FONT-FAMILY:castellar;
	
}
.texto{
       background-color:black;
	
}	